.btn-primary {
	border-radius: 3rem;
	padding: 20px;
	border: 1px solid #fff;
	background-color: transparent;
}

.btn-primary:hover {
	border: 1px solid #fff;
	background-color: #ed9819;
}

.btn-primary-inverse {
	border-radius: 3rem;
	padding: 20px;
	border: 1px solid #ed9819;
	background-color: #ed9819;
	color: #fff;
	display: block;
	text-align: center;
	font-size: 20px;
	margin: 0 10px;
}

.btn-primary-inverse:hover {
	border: 1px solid #ed9819;
	background-color: #ed9819;
	color: #fff;
	opacity: .9;
	text-decoration: none;
}